---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Resume from '../../public/Resume.pdf'
---

<Layout title="Shane Wiles">
	<main>
		<h1><span class="text-gradient">Shane Wiles</span></h1>
		<div class="center">
			<img src="../../public/s.webp"/>
		</div>
		<p onclick="location.href='https://linkedin.com/in/shane-wiles'" class="instructions">
			Want to learn more about me? Come take a look!<br/>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://linkedin.com/in/shane-wiles"
				title="Linked in"
			/>
			<Card
				href="https://github.com/ShaneW-18"
				title="GitHub"
			
			/>
			<Card
				href={Resume}
				title="Resume"
			/>
			<Card
				href="mailto: shane@swiles.tech"
				title="Hire Me!"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #7918d4,#3500d3 );
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	body {
  		background-color: #0c0032;
	}

	.center{
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
	}
	.text-gradient {
	
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		text-align: center;
		line-height: 1.6;
		margin: 1rem 0;
		background: #3500d3;
		color: #EDF5E1 !important;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}
	.instructions:is(:hover, :focus-within) {
		background-position: 0;
	}
	.instructions:is(:hover, :focus-within) {
		background: #282828;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
